.social-login
    .social-login--title Social Login
    a.social-login--github(href=routes.github)
        span
            i.fab.fa-github
        |Continue with Github
    a.social-login--facebook(href=routes.facebook)
        span
            i.fab.fa-facebook
        |Continue with Facebook