extends layouts/main
include mixins/videoBlock


block content
    .home__links
        a.all__videos__hot(href=routes.home) 
            i.fas.fa-film
            span All Videos
        a.hot__videos__hot(href=routes.hotVideo) 
            i.fas.fa-fire 
            span Hot Videos
    .videos
        each video in videos
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl,
                date:video.createdAt,
                creator:video.creator,
                comments: video.comments,
                likes: video.likes
            })