extends layouts/main

block content
    .form-container
        form(action=`/videos/${routes.upload}`, method="post", enctype="multipart/form-data")
            label(for="file") Video File
            input(type="file", id="file", name="videoFile", required=true, accept="video/*, video/x-m4v, video/mp4")
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(placeholder="Description", name="description", required=true)
            input(type="submit", value="Upload Video")
