extends layouts/main

block content
    .form-container
        form(action=`${routes.editProfile(user.id)}`, method="post", enctype="multipart/form-data")
            .edit__text Avatar
            input(type="file", name="avatar", id="avatar", accept="image/jpg, image/jpeg, image/png")
            .edit__text Name
            input(type="text", placeholder="Name", name="name", value=user.name)
            input.login__button.edit__button(type="submit", value="Update Profile")
        a.form-container__link(href=`/users${routes.changePassword}`) Change Password