//- base file for all pages
doctype html
html
    head
        script(src="https://kit.fontawesome.com/85c68db90a.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        .left-panel
            include ../partials/header
            include ../partials/footer
        main
            block content
        script(src="/static/main.js")